
@model Domain.IndexViewModel

    <div class="page-main-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="top-banner-wrapper">
                    <a href="product-page(left-sidebar).html"><img src="../assets/images/category/1.jpg" class="img-fluid " alt=""></a>
                    <div class="top-banner-content small-section">
                        <h4>fashion</h4>
                        <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
                <div class="collection-product-wrapper">
                    <div class="product-top-filter">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="filter-main-btn"><span class="filter-btn  "><i class="fa fa-filter" aria-hidden="true"></i> Filter</span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="product-filter-content">
                                    <div class="search-count">
                                        <h5>Showing Products 1-24 of 10 Result</h5>
                                    </div>
                                    <div class="collection-view">
                                        <ul>
                                            <li><i class="fa fa-th grid-layout-view"></i></li>
                                            <li><i class="fa fa-list-ul list-layout-view"></i></li>
                                        </ul>
                                    </div>
                                    <div class="collection-grid-view">
                                        <ul>
                                            <li><img src="../assets/images/category/icon/2.png" alt="" class="product-2-layout-view"></li>
                                            <li><img src="../assets/images/category/icon/3.png" alt="" class="product-3-layout-view"></li>
                                            <li><img src="../assets/images/category/icon/4.png" alt="" class="product-4-layout-view"></li>
                                            <li><img src="../assets/images/category/icon/6.png" alt="" class="product-6-layout-view"></li>
                                        </ul>
                                    </div>
                                    <div class="product-page-per-view">
                                        <select>
                                            <option value="High to low">24 Products Par Page</option>
                                            <option value="Low to High">50 Products Par Page</option>
                                            <option value="Low to High">100 Products Par Page</option>
                                        </select>
                                    </div>
                                    <div class="product-page-filter">
                                        <select>
                                            <option value="High to low">Sorting items</option>
                                            <option value="Low to High">50 Products</option>
                                            <option value="Low to High">100 Products</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper-grid product">
                        <div class="row">
                            @if (Model.Categories.Count() > 0)
                            {
                                foreach (var item in Model.Categories)
                                {

                                    <div class="col-xl-3 col-md-4 col-6  col-grid-box">
                                        <div class="product-box">
                                            <div class="product-imgbox">
                                                <div class="product-front">
                                                    <a href="@Url.Action("Index", "Product", new {catId =@item.GRP_CD.Trim()})"> <img src="~/Assets/Images/ProductImage/1.jpg" class="img-fluid  " alt="product"> </a>
                                                </div>
                                                <div class="product-back">
                                                    <a href="@Url.Action("Index", "Product", new {catId =@item.GRP_CD.Trim()})"> <img src="~/Assets/Images/ProductImage/1.jpg" class="img-fluid  " alt="product"> </a>
                                                </div>
                                            </div>
                                            <div class="product-detail detail-center detail-inverse">
                                                <div class="detail-title">
                                                    <div class="detail-left">
                                                        <a href="@Url.Action("Index", "Product", new {catId =@item.GRP_CD.Trim()
                                                            })">
                                                            <h6 class="price-title">
                                                                @item.GRP_NAME
                                                            </h6>
                                                        </a>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="col-xl-3 col-md-4 col-6  col-grid-box">
                                    <p>No Record Found</p>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="pagination-box">
                        <div class="row">
                            <div class="col-sm-6">
                                <nav aria-label="Page navigation example">
                                    <!-- pager -->
                                    @if (Model.Pager.EndPage > 1)
                                    {
                                        <ul class="pagination">
                                            @if (Model.Pager.CurrentPage > 1)
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" href='~/Product/Index?catId= @Model.Pager.catId '>First</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href='~/Product/Index?catId= @Model.Pager.catId &page=@(Model.Pager.CurrentPage - 1)'>Previous</a>
                                                </li>
                                            }

                                            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                            {
                                                <li class="@(page == Model.Pager.CurrentPage ? "active page-item" : "page-item")">
                                                    <a class="page-link" href='~/Product/Index?catId= @Model.Pager.catId &page=@page'>@page</a>
                                                </li>
                                            }

                                            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                            {
                                                <li class="page-item">

                                                    <a class="page-link" href='~/Product/Index?catId= @Model.Pager.catId &page=@(Model.Pager.CurrentPage + 1)'>Next</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href='~/Product/Index?catId= @Model.Pager.catId &page=@(Model.Pager.TotalPages)'>Last</a>
                                                </li>
                                            }
                                        </ul>
                                        @Html.Hidden("CatId", @Model.Pager.catId, new { @id = "hdCatID" })

                                    }

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
