@model List<Domain.CustomerCartDomain>
@{
    ViewBag.Title = "CustomersOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="breadcrumb-main ">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-contain">
                    <div>
                        <h2> Order Details</h2>
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li><i class="fa fa-angle-double-right"></i></li>
                            <li><a href="javascript:void(0)">Customer Order</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- invoice start -->
<section class="invoice-four">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="invoice-popup">
                    <div>
                        <div class="table-responsive-md">
                            <div class="row print-bar">
                                <div class="col-md-12">
                                    <div class="printbar-right">
                                        <a id="exportpdf" href="@Url.Action("Index","Customer")" class="btn btn-solid btn-md "> 
                                            <i class="fa fa-file"></i>
                                            Back
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <table class="invoice-table ">
                                <thead>
                                    <tr>
                                        <th>no.</th>
                                        <th>item detail</th>
                                        <th>qty</th>
                                        <th>price</th>
                                        <th>amout</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        var totalAMount = @Model[i].Quantity * @Model[i].Amount;
                                        var srNO = i + 1;
                                        <tr>
                                            <td>@srNO</td>
                                            <td>
                                                <h3>
                                                    @Model[i].ITEM_DESC
                                                </h3>
                                            </td>
                                            <td>@Model[i].Quantity</td>
                                            <td>@Model[i].Amount</td>
                                            <td>@totalAMount</td>
                                        </tr>
                                    }


                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- invoice end -->
