@model List<Domain.CustomerDomain>
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- breadcrumb start -->
<div class="breadcrumb-main ">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-contain">
                    <div>
                        <h2>dashboard</h2>
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li><i class="fa fa-angle-double-right"></i></li>
                            <li><a href="javascript:void(0)">dashbord</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="section-big-py-space b-g-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="account-sidebar"><a class="popup-btn">my account</a></div>
                <div class="dashboard-left">
                    <div class="collection-mobile-back"><span class="filter-back"><i class="fa fa-angle-left" aria-hidden="true"></i> back</span></div>
                    <div class="block-content ">
                        <ul>
                            <li class="active"><a href="javascript:void(0)">Account Info</a></li>
                            <li><a href="#custAddress">Address Book</a></li>
                            <li><a href="@Url.Action("CustomersOrders","Customer")">My Orders</a></li>
                            <li><a href="@Url.Action("CustomersWishlist","Customer")">My Wishlist</a></li>
                            <li><a href="@Url.Action("MyAccount","Customer")">My Profile</a></li>
                            <li><a href="@Url.Action("ChangePassword","Customer")">Change Password</a></li>
                            <li class="last"><a href="@Url.Action("Logout","Customer")">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="dashboard-right">
                    <div class="dashboard">
                        <div class="page-title">
                            <h2>My Dashboard</h2>
                        </div>
                        <div class="welcome-msg">
                            <p>Hello, @Model[0].FirstName @Model[0].LastName !</p>
                            <p>From your My Account Dashboard you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information.</p>
                        </div>
                        <div class="box-account box-info">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="box">
                                        <div class="box-title">
                                            <h3>Contact Information</h3><a href="@Url.Action("MyAccount","Customer")">Edit</a>
                                        </div>
                                        <div class="box-content">
                                            <h6>@Model[0].Phone</h6>
                                            <h6>@Model[0].Email</h6>
                                            <h6><a href="@Url.Action("ChangePassword","Customer")">Change Password</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="box" id="custAddress">
                                    <div class="box-title">
                                        <h3>Address Book</h3><a href="javascript:void(0)">Manage Addresses</a>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h6>Default Billing Address</h6><address>@Model[0].BillingAddress<br><a href="@Url.Action("MyAccount","Customer")">Edit Address</a></address>
                                        </div>
                                        <div class="col-sm-6">
                                            <h6>Default Shipping Address</h6><address>@Model[0].ShippingAddress<br><a href="@Url.Action("MyAccount","Customer")">Edit Address</a></address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->
