@model List<Domain.CustomerOrderDomain>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    <!-- thank-you section start -->
    <section class="section-big-py-space light-layout">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="success-text">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        <h2>thank you</h2>
                        <p>Payment is successfully processsed and your order is on the way</p>
                        <p>Transaction ID:@Model[0].TransactionId</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section ends -->
    <!-- order-detail section start -->
    <section class="section-big-py-space mt--5 b-g-light">
        <div class="custom-container">
            <div class="row">

                <div class="col-lg-6">
                    <div class="product-order">
                        <h3>your order details</h3>
                        @foreach (var product in ViewBag.CustomerscartList)
                        {
                            <div class="row product-order-detail">
                                <div class="col-3"><img src="~/Assets/Images/product-sidebar/001.jpg" alt="" class="img-fluid "></div>
                                <div class="col-3 order_detail">
                                    <div>
                                        <h4>product name</h4>
                                        <h5>@product.ITEM_DESC</h5>
                                    </div>
                                </div>
                                <div class="col-3 order_detail">
                                    <div>
                                        <h4>quantity</h4>
                                        <h5>@product.Quantity</h5>
                                    </div>
                                </div>
                                <div class="col-3 order_detail">
                                    <div>
                                        <h4>price</h4>
                                        <h5>$@product.Amount</h5>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="total-sec">
                            <ul>
                                <li>subtotal <span>$55.00</span></li>
                                <li>shipping <span>$12.00</span></li>
                                <li>tax(GST) <span>$10.00</span></li>
                            </ul>
                        </div>
                        <div class="final-total">
                            <h3>total <span> $@Model[0].OrderAmount</span></h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row order-success-sec">
                        <div class="col-sm-6">
                            <h4>summery</h4>
                            <ul class="order-detail">
                                <li>order ID: @Model[0].Id</li>
                                <li>Order Date: @Model[0].OrderDate</li>
                                <li>Order Total: @Model[0].OrderAmount</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <h4>shipping address</h4>
                            <ul class="order-detail">
                                <li>@Model[0].ShippingAddress</li>
                            </ul>
                        </div>
                        <div class="col-sm-12 payment-mode">
                            <h4>payment method</h4>
                            <p>@Model[0].PaymentType</p>
                        </div>
                        <div class="col-md-12">
                            <div class="delivery-sec">
                                <h3>expected date of delivery</h3>
                                <h2>october 22, 2018</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section ends -->
